@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box-shadow-nav {
    box-shadow: -5px 13px 20px -13px rgba(0, 0, 0, 0.75);
}